ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin: 20px;
}
.nameAndIndex {
  text-align: left;
}
li {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
}
#horse {
  transform: scaleX(-1);
  width: 100px;
}
#run {
  align-self: center;
}

.stop,
.pause,
#run {
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: burlywood;
  color: brown;
  border-radius: 5px;
}
.button {
  display: flex;
  justify-content: center;
}
